<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cabecalho.css">
    <link rel="stylesheet" href="/css/catalogo.css">
</head>
<body>
    <section id="container">

        <%- include("./partials/cabecalho")%>

        <div id="titulo">
            <h1>CATÁLOGO</h1>
        </div>
        <div id="selecao-produtos">
            <h1><a href="#titulo-vinho">VINHOS</a></h1>
            <h1><a href="#titulo-vodka">VODKAS</a></h1>
            <h1><a href="#titulo-whisky">WHISKYS</a></h1>
        </div>
        <div id="area-produtos">
            <div class="area-catalogo">
                <h1 id="titulo-vinho">Vinhos</h1>
                <div class="catalago-produtos">
                    <% for (let produto of catalogo) { %>
                       <% if(produto.tipo_de_bebida == "vinho") { %>
                            <div class="produto-und">
                                <img class="foto-produto" src=<%=produto.path%> alt="">
                                <p class="nome"><%=produto.nome_produto%></p>
                                <p class="litros"><%=produto.mililitros%>mls</p>
                                <h2 class="informacao">R$<%=produto.preco%></h2>
                                <div>
                                    <input class="input-add" type="number" value="1" min="1" max="10" id='<%=produto.id%>'>
                                    <button class="botao-add" onclick="AddCarrinho('<%=produto.path%>','<%=produto.id%>','<%=produto.nome_produto%>', '<%=produto.preco%>', 
                                    document.getElementById('<%=produto.id%>').value)">Comprar</button>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <div class="area-catalogo">
                <h1 id="titulo-vodka">Vodkas</h1>
                <div class="catalago-produtos">
                    <% for (let produto of catalogo) { %>
                        <% if(produto.tipo_de_bebida == "vodka") { %>
                             <div class="produto-und">
                                 <img class="foto-produto" src=<%=produto.path%> alt="">
                                 <p class="nome"><%=produto.nome_produto%></p>
                                <p class="litros"><%=produto.mililitros%>mls</p>
                                 <h2 class="informacao">R$<%=produto.preco%></h2>
                                 <div>
                                    <input class="input-add" type="number" value="1" min="1" max="10" id='<%=produto.id%>'>
                                    <button class="botao-add" onclick="AddCarrinho('<%=produto.path%>','<%=produto.id%>','<%=produto.nome_produto%>', '<%=produto.preco%>', 
                                    document.getElementById('<%=produto.id%>').value)">Comprar</button>
                                </div>
                             </div>
                         <% } %>
                     <% } %>
                </div>
            </div>
            <div class="area-catalogo">
                <h1 id="titulo-whisky">Whiskys</h1>
                <div class="catalago-produtos">
                    <% for (let produto of catalogo) { %>
                        <% if(produto.tipo_de_bebida == "whisky") { %>
                             <div class="produto-und">
                                 <img class="foto-produto" src=<%=produto.path%> alt="">
                                 <p class="nome"><%=produto.nome_produto%></p>
                                <p class="litros"><%=produto.mililitros%>mls</p>
                                 <h2 class="informacao">R$<%=produto.preco%></h2>
                                 <div>
                                    <input class="input-add" type="number" value="1" min="1" max="10" id='<%=produto.id%>'>
                                    <button class="botao-add" onclick="AddCarrinho('<%=produto.path%>','<%=produto.id%>','<%=produto.nome_produto%>', '<%=produto.preco%>', 
                                    document.getElementById('<%=produto.id%>').value)">Comprar</button>
                                </div>
                             </div>
                         <% } %>
                     <% } %>
                </div>
            </div>
        </div>
    </section>
    <script src='/js/domCatalogo.js'></script>
</body>
</html>